<h1>Listing widgets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% paginate @widgets do |page| -%>
  <% page.items do |widget| -%>
    <tr>
      <td><%= link_to 'Show', widget %></td>
      <td><%= link_to 'Edit', edit_widget_path(widget) %></td>
      <td><%= link_to 'Destroy', widget, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end -%>
<% end -%>
</table>

<br />

<%= link_to 'New Widget', new_widget_path %>
